:root {
  --warm-yellow-pale: #F7E5BC;
  --warm-yellow: #F2C84B; 
  --warm-orange: #D97823; 
  --warm-terracotta: #BF4215; 
  --warm-brown: #8C2C16; 
  --warm-brown-black: #401714; 

  --cool-grey: #F4F4F4; 
  --cool-light-blue: #B4CBD9; 
  --cool-blue: #3B799F; 
  --cool-dark-blue: #314759; 
  --cool-blue-black: #252629; 
}

.container {
  display: flex;
  background-color: white;
  width: 70%;
  margin-left: 15%;
}

.header-name-title {
  display: flex;
  float: left;
  width: 50%;
  margin: 8px;
  align-items: center;
  justify-content: center;
}

.header-name-title-image {
  width: 60%;
  /* height: 50%; */
}

.header {
  display: flex;
  float: right;
  width: 50%;
/*   padding-top: 12px;
  padding-bottom: 12px; */
  margin: 8px;
  border-style: solid;
  border-color: var(--warm-terracotta);
  border-width: 2px;
  align-items: center;
  justify-content: center;
}

.header a:hover {
  background-color: var(--warm-yellow);
  color: white;
}

.header a {
  color: var(--warm-terracotta);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  font-size: 120%;
  border-radius: 0px;
}

.header a.home {
  background-color: var(--warm-orange);
  color: white;
}

.body {
  font-family: 'Chivo Mono', monospace;
  color: var(--warm-brown-black);
  margin: 0px;
  background-image: url("./resources/images/main_page_background.jpg");
  background-size: 100%;
}

.body-container {
  position: relative;
  display: flex;
  margin-left: 15%;
  margin-right: 85%;
  margin-top: 0%;
  margin-bottom: 0px;
  width: 70%;
  height: 100vh;
  background-color: white;
}

.body-content {
  float: left;
  width: 75%;
  padding: 8px;
}

.body-self-summary {
  float: right;
  width: 25%;
  padding: 24px;
  background-color: white;
}

.body-self-summary-image {
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--warm-terracotta);
}

.socials-container {
  text-align: center;
}

.social-button {
    font-size: 24px;
    color: white;
    background-color: var(--cool-dark-blue);
    width: 50px;
    height: 50px;
    border-color: var(--warm-yellow);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}

.social-button:hover {
    /* box-shadow: 5px 5px 0px 0px black; */
    color: var(--cool-dark-blue);
    background-color: var(--warm-yellow);
}