---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#401714;
  font-weight:400;
  background-image: url(https://jamesphilbrick.github.io/personal-website/resources/images/main_page_background.jpg);
}

section {
  width: 100%;
  padding: 50px;
  background-color: white;
  height: 100vh;
}

footer {
  width: 50%;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

header 

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
  color: #401714;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: #BF4215;
  margin: 0 0 20px
}

a:hover, a:focus {
  color: #BF4215;
  font-weight: normal; 
}
