---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#401714;
  font-weight:400;
}

section {
  width: 100%;
  padding-bottom: 50px;
}

footer {
  width: 50%;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: #BF4215;
  margin: 0 0 20px
}
